/* Hero Section Styling */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #ffa500;
    text-decoration: none;
    background-image: url('../../../public/assets/img/Vector\ 22.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding-bottom: 10px;
}

.hero-content p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #b0bec5;
}