/* Categories Section Styling */
.categories-section {
    text-align: center;
    padding: 20px 20px;
    /* background-color: #0f1923; */
    /* Background matching stats */
    color: #fff;
}

.categories-section.start {
    text-align: start;
    padding-left: 80px;
    color: #fff;
}

.categories-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.categories-section p {
    font-size: 16px;
    color: #b0bec5;
}